body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 29%, rgba(0,212,255,1) 100%);
}
.container{
    background-color: aliceblue;
    border-radius: 25px;
    width: 350px;
    height: 420px;
    margin-top: 10%;
}

.container h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.container input{
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 35px;
    margin-left: 15px;
}

.container h4{
    margin-left: 17px;
    margin-bottom: 5px;
}

.container h5{
    margin-left: 17px;
}

.container button{
    margin-left: 20px;
    border-radius: 15px;
    height: 35px;
    width: 300px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    align-items: center;
    }

    ul li{
        padding: 0.5rem;
        list-style: none;
        margin-top: 5px;
       
      }

      li a:hover{
        color: black;
      }


      .container1 {
        background-color: aliceblue;
        border-radius: 25px;
        width: 350px;
        height: 620px;
        margin-top: 10%;
    }
      

    li > a:after {
        content: '';
        position: absolute;
        bottom: 1.5em;
        left: 15%;
        width: 70%;
        height: 4px;
        transform: scaleX(0);
        background-color:rgb(3, 39, 107);
        transition: all .2s cubic-bezier(0.4, 0, 1, 1);
        opacity: 0.6;
     
    }

  

    nav {
        width: 100%;
        text-align: center;
        font-size: 1,5em;
        position: relative;
        align-items: center;
  
    }

   

    li {
        text-align: -webkit-match-parent;
    }

    a:-webkit-any-link {
        color: black;
         cursor: pointer;
         text-shadow: rgb(0, 0, 0);
     }

   

    li.ativo > a, li > a:hover {
        background-color: transparent;
        color: rgb(0, 2, 12);
    }

   h1 {
color: blanchedalmond;
text-shadow: darkmagenta;

   }

   h5 {
       color: aliceblue;
       font-size: 20px;
   }


   footer {
color: aliceblue;

   }

   img{
width: 70%;
border-radius: 15px;

   }

   .container4{
    margin: auto;
    margin-top: 1rem;
    max-width: 50%;
    background-color: aliceblue;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10PX;
  
  }

  .navG{

    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    align-items: center;

  }

  .liG .aG{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10Px;
    margin-left: 10px;


  
    align-items: center;
  }

  .container6 {
    background-color: aliceblue;
    border-radius: 25px;
    width: 350px;
    height: 350px;
    margin-top: 10%;
}